.social-share
    h6
        margin-bottom: 10px
        text-transform: uppercase

    button:focus-visible
        outline: var(--focus-outline)
        outline-offset: -2px

#more-social-share-modal
    border-radius: 20px 20px 0 0
    min-height: 180px

@import "style1"
@import "style2"
@import "style3"
