#wp-link-wrap{z-index:999997}
#wp-link-backdrop{z-index:999996}
div.mce-inline-toolbar-grp{z-index:999997 !important}
.pac-container{z-index:999996}

// atajos de teclado
.mce-reset.mce-fade.mce-in{z-index:999996 !important}
.mce-floatpanel.mce-window.mce-in{z-index:999997 !important}
// color de texto
.mce-floatpanel.mce-popover.mce-bottom{z-index:999997 !important}
// fix color picker show behind columns
// .uf-field.uf-field-layout-grid.uf-field-type-color { z-index: 9; } dosnt work

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


input[name="icon-selector"]{
  display: none;
}
input[name="icon-selector"]+label{
  font-size: 30px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
input[name="icon-selector"]:checked+label{
  border-color: #0ea1d9;
  background-color: #0ea1d9;
  color: #fff;
}


.short-input input{
  width: auto !important;
}