@import "materialize/components/color";
@import "materialize/components/variables";
@import "materialize/components/overriden-variables";

@import url('#{$font-url}');

body#tinymce.wp-editor {
	margin: 30px;
	background-color: $primary-color-lighten-2;
	color: $font-color;
	@include general-tipography-styles;
	@import "materialize/components/typography";
	@import "materialize/components/global";
	@import "materialize/components/buttons";
	@import "modulos/blockquote";
	@import "modulos/buttons";
	@import "modulos/global";
	@import "modulos/gallery";
	@import "modulos/special-title-1";
	@import "modulos/special-title-2";
	@import "modulos/special-title-3";
	@import "modulos/special-title-4";
	@import "modulos/special-list-1";
	@import "modulos/table";
	.clearfix {
		clear: both;
	}
}