@import "materialize/components/color-variables";
@import "materialize/components/variables";

body#tinymce.wp-editor {
	background-color: var(--primary-color-lighter);
	margin: 30px;
	@include css-properties;
	@include typography-properties;
	@import "materialize/components/typography";
	@include general-tipography-styles;
	@import "materialize/components/global";
	@import "materialize/components/buttons";
	@import "modulos/blockquote";
	@import "modulos/buttons";
	@import "modulos/scroll";
	@import "modulos/global";
	@import "modulos/gallery";
	@import "modulos/special-titles/special-title-1";
	@import "modulos/special-titles/special-title-2";
	@import "modulos/special-titles/special-title-3";
	@import "modulos/special-titles/special-title-4";
	@import "modulos/theme-list";
	@import "modulos/special-list-1";
	@import "modulos/table";
	@import "modulos/utils";
	table td,
    table th{
        outline: 1px dashed silver;
    }
	.clearfix {
		clear: both;
	}
}