// @import "test";

// ******************************************************
// PARENT THEME STYLES
// ******************************************************
@import "materialize/components/color-variables";
@import "materialize/components/overriden-variables";
@import "materialize/components/variables";
@import "materialize/components/normalize";
@import "materialize/components/global";
@import "materialize/components/grid";
@import "materialize/components/typography";
@import "materialize/components/buttons";
@import "materialize/components/modal";
@import "materialize/components/forms/input-fields";
@import "materialize/components/sideNav";

@import "libs/fancybox";
@import "libs/tiny-slider";

@import "modulos/animations";
@import "modulos/icon-and-text-widget";
@import "modulos/video-modal";
@import "modulos/blockquote";
@import "modulos/buttons";
@import "modulos/comentarios";
@import "modulos/forms";
@import "modulos/gallery";
@import "modulos/global";
@import "modulos/grid";
@import "modulos/header";
@import "modulos/main";
@import "modulos/page-header";
@import "modulos/pagination";
@import "modulos/viewer";
@import "modulos/posts-filter";
@import "modulos/searchform";
@import "modulos/subir-btn";
@import "modulos/tns-slider/navigation";
@import "modulos/tns-slider/controls";
@import "modulos/tns-slider/theme";
@import "modulos/scroll";
@import "modulos/special-list-1";
@import "modulos/theme-list";
@import "modulos/sidebar";
@import "modulos/table";
@import "modulos/rrss-module";
@import "modulos/modal";
@import "modulos/minicart";
@import "modulos/widget-shopping-cart";
@import "modulos/modal-close";
@import "modulos/social-share";
@import "modulos/lang-switcher";
@import "modulos/slider-background";
@import "modulos/headings/global";
@import "modulos/marquee";

@import "modulos/pages/global";
@import "modulos/pages/single-post";
@import "modulos/pages/single-document";
@import "modulos/pages/template";

@import "modulos/menus/global";
@import "modulos/menus/horizontal1";
@import "modulos/menus/horizontal2";
@import "modulos/menus/horizontal3";
@import "modulos/menus/horizontal4";
@import "modulos/menus/vertical1";
@import "modulos/menus/adaptive-navbar";

@import "modulos/togglebox/global";
@import "modulos/togglebox/tab-style-1";
@import "modulos/togglebox/tab-style-2";
@import "modulos/togglebox/accordion-style-1";
@import "modulos/pages/search-result";
@import "modulos/pages/template";

@import "plugins/contact-form-7";
@import "plugins/theme-my-login";
@import "plugins/woocommerce";

@import "modulos/postcards/postcard";
@import "modulos/postcards/postcard-2";
@import "modulos/postcards/postcard-3";
@import "modulos/postcards/postcard-4";
@import "modulos/postcards/search-result";

@import "modulos/tns-slider/navigation";
@import "modulos/tns-slider/controls";
@import "modulos/tns-slider/theme";

@import "modulos/special-titles/special-title-1";
@import "modulos/special-titles/special-title-2";
@import "modulos/special-titles/special-title-3";
@import "modulos/special-titles/special-title-4";

@import "modulos/megamenu/megamenu";
@import "modulos/megamenu/dynamic-megamenu";

@import "ultimate-fields/global";
@import "ultimate-fields/components/row-component";
@import "ultimate-fields/components/media";
@import "ultimate-fields/components/spacer";
@import "ultimate-fields/components/map";
@import "ultimate-fields/components/gallery";
@import "ultimate-fields/components/icon-and-text";
@import "ultimate-fields/components/testimonials";
@import "ultimate-fields/components/listing";
@import "ultimate-fields/components/content-layout";
@import "ultimate-fields/components/carousel";
@import "ultimate-fields/components/icon";
@import "ultimate-fields/components/expander";
@import "ultimate-fields/components/flip-box";

@import "ultimate-fields/components/card";
@import "ultimate-fields/components/fila";
@import "ultimate-fields/components/items-grid";
@import "ultimate-fields/components/logos-grid";
@import "ultimate-fields/components/slider-de-contenidos";
@import "modulos/utils";