blockquote
	padding-left: 40px
	display: flex
	justify-content: space-between
	margin: 0
	&:before
		content: ''
		width: 74px
		height: 74px
		background-image: url('../images/blockquote.png')
	
	&>p
		margin-top: 20px
		width: calc(100% - 90px)
	
	&+*
		margin-top: 20px

.text-color-2
	blockquote:before
		background-image: url('../images/blockquote2.png')