.btn
	border-radius: 2px
	padding: .5em 1em
	letter-spacing: -0.1px
	background-color: var(--primary-color)
	color: #fff
	width: fit-content

	&:hover
		background-color: var(--primary-color)
		color: #fff

	// a11y: focus outline for keyboard navigation
	&:focus-visible
		outline: var(--focus-outline)

	&.btn--main-color
		background-color: var(--primary-color)
		color: #fff
		&:hover
			background-color: var(--primary-color-dark)
			color: #fff
	&.btn--secondary-color
		background-color: var(--secondary-color)
		color: #fff 
		&:hover
			background-color: var(--secondary-color-dark)
			color: #fff

	&.btn--outline
		background-color: transparent
		border: 1px solid
		color: currentColor
		&:hover
			background-color: var(--primary-color)
			color: #fff

	&.btn--outline-main-color
		background-color: transparent
		border: 1px solid var(--primary-color)
		color: var(--primary-color)
		&:hover
			background-color: var(--primary-color)
			color: #fff

	&.btn--outline-secondary-color
		background-color: transparent
		border: 1px solid var(--secondary-color)
		color: var(--secondary-color)
		&:hover
			background-color: var(--secondary-color)
			color: #fff

	&.btn--white
		background-color: #fff
		box-shadow: 0 0 8px rgba($font-color,.2)
		color: var(--font-color) !important
		&:hover
			background-color: var(--primary-color)
			color: #fff !important
	
.btn, .link
	font-size: .9em
	--icon-separation: 0.5em
	i
		margin-right: var(--icon-separation)

	&.btn--icon-right i
		margin-left: var(--icon-separation)
		margin-right: 0