.btn
	border-radius: 2px
	padding: .3em 1em
	margin: 0
	letter-spacing: -0.1px
	line-height: 32px
	color: var(--primary-color)
	position: relative
	font-weight: var(--bold-font-weight)
	font-size: inherit
	height: initial

	&:hover
		border-color: var(--primary-color)
		background: var(--primary-color)
		color: #fff

	&--medium
		font-size: 25px

	&--big
		font-size: 35px

	&--main-color
		border-color: var(--primary-color)
		background: var(--primary-color)
		color: #fff
		&:hover
			border-color: var(--primary-color-dark)
			background: var(--primary-color-dark)
			color: #fff
	&--secondary-color
		border-color: var(--secondary-color)
		background: var(--secondary-color)
		color: #fff 
		&:hover
			border-color: var(--secondary-color-dark)
			background: var(--secondary-color-dark)
			color: #fff
	&--white
		border-color: #fff
		background: #fff
		box-shadow: 0 0 8px rgba($font-color,.2)
		color: var(--font-color) !important
		&:hover
			border-color: var(--primary-color)
			background: var(--primary-color)
			color: #fff !important