.btn
	border-radius: 2px
	padding: .5em 1em
	letter-spacing: -0.1px
	background-color: var(--primary-color)
	color: #fff

	&:hover
		background: var(--primary-color)
		color: #fff

	&--medium
		font-size: 1.1em

	&--big
		font-size: 1.2em

	&--main-color
		background: var(--primary-color)
		color: #fff
		&:hover
			background: var(--primary-color-dark)
			color: #fff
	&--secondary-color
		background: var(--secondary-color)
		color: #fff 
		&:hover
			background: var(--secondary-color-dark)
			color: #fff
	&--white
		background: #fff
		box-shadow: 0 0 8px rgba($font-color,.2)
		color: var(--font-color) !important
		&:hover
			background: var(--primary-color)
			color: #fff !important

	&--icon-left i
		margin-right: .5em
	
	&--icon-right i
		margin-left: .5em