.comments-area
	background-color: #fff
	padding: 15px
	width: 100%
	margin: 15px auto

	ol
		margin-left: 0px
		padding-left: 30px

	.alert-info
		font-weight: bold
		color: green

h2.comments-title
	font-size: 30px

.comment
	background-color: #fff
	margin: 15px 0
	font-size: 15px
	box-shadow: 0 0 5px rgba(0,0,0,0.1)

	header
		padding: 5px
		border-bottom: 1px solid rgba(0,0,0,.1)

	&-author
		font-weight: bold

	&-date
		float: right
		font-size: 13px
		margin-top: 10px

		a
			color: #888
	
	&-content
		padding: 0 20px 0 40px
		max-height: 500px
		overflow: hidden

	&-reply-link
		float: right
		margin-right: 15px
		margin-bottom: 5px 

	&-reply-title
		text-align: center