body:not(.disable-comments-styles)	
	.comments-area
		width: 100%
		margin: 15px auto
		font-size: .9em

		ol
			margin-left: 0px
			padding-left: 30px

		.alert-info
			font-weight: var(--bold-font-weight)
			color: green

	.comment
		background-color: #fff
		margin: 15px 0
		box-shadow: 0 0 5px var(--primary-color-light)

		header
			padding: 5px
			border-bottom: 1px solid var(--primary-color-light)

		&-author
			font-weight: var(--bold-font-weight)

		&-date
			float: right
			margin-top: 10px
			a
				color: #888

		&-content
			padding: 0 20px 0 40px
			max-height: 500px
			overflow: hidden

		&-reply-link
			float: right
			margin-right: 15px
			margin-bottom: 5px 

		&-reply-title
			text-align: center