.gallery
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 15px 0

	&-icon
		display: block

	br
		display: none

#gallery-1 img
	border: 0 !important

.gallery-columns-1
	.gallery-item
		width: 100%

.gallery-columns-2
	.gallery-item
		width: 48%

.gallery-columns-3
	.gallery-item
		width: 32%

.gallery-columns-4
	.gallery-item
		width: 24%

.gallery-columns-5
	.gallery-item
		width: 19%

.gallery-columns-6
	.gallery-item
		width: 16%

.gallery-columns-7
	.gallery-item
		width: 13%

.gallery-columns-8
	.gallery-item
		width: 11%

.gallery-columns-9
	.gallery-item
		width: 10%

.gallery-item
	margin: 0
	text-align: center

	img
		margin-bottom: 0 !important
