body
	overflow-x: hidden

#content
	overflow: hidden

.mt0
	margin-top: 0

.pdt0
	padding-top: 0

.text-color-2
	color: #fff
	h1,h2,h3,h4,h5,h6
		color: #fff
	a
		color: #fff !important

.text-color-1
	color: #000
	h1,h2,h3,h4,h5,h6
		color: #000
	a:not(.btn)
		color: $primary-color

.wp-caption
	display: inline-block
	text-align: center
	&-text
		display: block

.parallax
	background-attachment: fixed

h1,h2,h3,h4,h5,h6,p
	&:last-child
		margin-bottom: 0

span[style*="font-size"]
		line-height: normal

.img-full-width
	width: 100%

.align-items-center
	display: flex
	align-content: center
	justify-content: center
	flex-direction: column

@media #{$medium-and-down}
	.hide-br br
		display: none

@media #{$medium-only}
	.center-on-tablet, .center-on-tablet *
		text-align: center !important
	.left-on-tablet, .left-on-tablet *
		text-align: left !important
	.right-on-tablet, .right-on-tablet *
		text-align: right !important
	.hide-br-tablet br
		display: none

@media #{$small-and-down}
	.movil-img-full-width
		width: 100%
	.center-on-mobile, .center-on-mobile *
		text-align: center !important
	.left-on-mobile, .left-on-mobile *
		text-align: left !important
	.right-on-mobile, .right-on-mobile *
		text-align: right !important
	.hide-br-mobile br
		display: none