.has-columns
    display: grid

    @media #{$extra-large-and-up}
        gap: var(--d-gap)
        grid-template-columns: repeat(var(--d-columns), 1fr)
    
    @media #{$large-only}
        gap: var(--l-gap)
        grid-template-columns: repeat(var(--l-columns), 1fr)
    
    @media #{$medium-only}
        gap: var(--t-gap)
        grid-template-columns: repeat(var(--t-columns), 1fr)
    
    @media #{$small-and-down}
        gap: var(--m-gap)
        grid-template-columns: repeat(var(--m-columns), 1fr)