.header
	position: fixed
	top: 0
	left: 0
	z-index: 896
	width: 100%
	pointer-events: initial

	&__content
		transition: 500ms padding
		padding: 30px var(--component-space-around-x)
		display: flex
		align-items: center
		transition: 500ms padding

	&__blocks
		display: flex
		justify-content: flex-end
		align-items: center
		flex-basis: 1
		flex-grow: 1
		flex-wrap: wrap

	&__widgets
		font-size: 13px
		line-height: 150%
		display: flex
		align-items: center
		&>.container
			padding: 15px var(--component-space-around-x)
			display: flex
			justify-content: flex-end
			align-items: center
			position: relative
		.widget
			display: inline-block
			margin-left: 10px
			margin-bottom: 0
		p
			margin-bottom: 0

	&__logo 
		align-self: center
		img
			max-height: 60px
			transition: 500ms all

	&--sticky
		box-shadow: 0 10px 20px rgba(0,0,0,.1)
	&--sticky &__content
		padding-top: 8px
		padding-bottom: 8px
	&--sticky &__logo img 
		max-height: 40px

	&:not(&--sticky).hide-static-header-logo &__logo,
	&--sticky.hide-sticky-header-logo &__logo
		opacity: 0

@media only screen and (max-width: #{$menu-breakpoint})
	.header
		&__content
			padding: 8px 15px
			align-items: center

@media #{$small-and-down}
	.header
		&__widgets
			display: none
		&__logo img
			max-height: 40px