.header
	position: fixed
	top: 0
	left: 0
	z-index: 896
	width: 100%
	// transition: 500ms all

	&__widgets
		background-color: #333
		color: gray
		padding: 10px 0
		height: 50px
		transition: 500ms all
		>div.container
			display: flex
			justify-content: flex-end
			align-content: center
			padding: 0px $components-margin-left-right
		.widget
			display: inline-block
		p
			margin-bottom: 0
			display: inline-block
		a
			color: #fff

	&.fixed &__widgets
		height: 0
		padding: 0
		opacity: 0

	&__content
		padding: 10px $components-margin-left-right
		display: flex
		align-items: center
		position: relative

	&__logo 
		// flex-shrink: 0
		margin-right: auto
		img
			max-height: 50px

	&.fixed
		box-shadow: 0 0 5px rgba(0,0,0,.5)
		&[data-theme='theme1'], 
		&[data-theme='theme2'], 
		&[data-theme='theme3'] 
			background-color: $dark-fixed-header-color
		&[data-theme='theme4'], 
		&[data-theme='theme5'], 
		&[data-theme='theme6'] 
			background-color: $light-fixed-header-color
			box-shadow: 0 0 5px rgba(0,0,0,.1)

	&.hide-logo:not(.fixed) &__logo
		opacity: 0


	&[data-theme='theme1']
		color: #fff
		a
			color: #fff

	&[data-theme='theme2']
		background-color: #000
		color: #fff
		a
			color: #fff

	&[data-theme='theme3']
		background-color: $primary-color
		color: #fff
		a
			color: #fff

	&[data-theme='theme4']
		color: #000
		a
			color: #000

	&[data-theme='theme5']
		background-color: #fff

	&[data-theme='theme6']
		background-color: $primary-color
		color: #000
		a
			color: #000








@media #{$medium-and-down}
	.header
		&__content
			padding: 10px 15px