.main-nav
	ul
		margin: 0
		padding-left: 0
	li
		list-style-type: none
		position: relative
	a
		display: block
		text-decoration: none
		&:hover
			text-decoration: none

	.menu
		display: flex
		align-items: center
		width: 100%
		>li:not(:last-child)
			margin-right: 6px
		>li
			max-width: 180px
		>li>a
			padding: 15px 10px
			font-size: 14px
			line-height: 18px
			text-align: center
			border-radius: 4px
			span
				margin-right: 8px
			img
				max-height: 18px
				vertical-align: sub
		>li.current-menu-item>a,
		>li.current-page-ancestor>a,
		>li.current-menu-parent>a,
		>li>a.is-inview
			color: var(--primary-color) !important
		>li.add-color-1.current-menu-item>a,
		>li.add-color-2.current-menu-item>a
			color: #fff !important
		>li.has-megamenu>a:after,
		>li.menu-item-has-children>a:after
			content: '\f107'
			font: normal normal normal 19px/1 FontAwesome
			font-weight: bold
			display: inline-block
			margin-left: 5px
			line-height: 12px
			transform: translateY(2px)
		>li.hidden-text
			span
				margin-right: 0

	ul.sub-menu
		position: absolute
		top: 100%
		left: 0
		z-index: 555
		min-width: 180px
		display: none
		background-color: #fff
		box-shadow: 0 0 15px rgba(0,0,0,.2)

		li.menu-item-has-children
			>a
				padding-right: 23px
			>a:after
				content: ''
				width: 0
				height: 0
				font-size: 0px
				border-style: solid
				border-width: 4px 0 4px 5px
				border-color: transparent transparent transparent currentColor
				line-height: 15px
				vertical-align: super
				margin-right: 8px
				position: absolute
				top: 14px
				right: 0px

		&>li
			border-bottom: 1px solid var(--primary-color-lighten-1)
			&:hover>a
				background-color: var(--primary-color-lighten-2)
		a
			font-size: 13px
			padding: 12px 20px
			line-height: 18px

		ul
			left: 100%
			top: 0

	.add-border
		border: 1px solid
	.add-color-1
		a
			background-color: var(--primary-color)
			color: #fff !important
			&:hover
				color: #fff !important
				background-color: var(--secondary-color) !important
	.add-color-2
		a
			background-color: var(--secondary-color)
			color: #fff !important
			&:hover
				color: #fff !important
				background-color: var(--primary-color) !important

.megamenu
	background-color: #fff
	display: none
	position: absolute
	top: 100%
	left: 0
	width: 100%
	color: $font-color
	z-index: 9999999
	&.is-active
		display: block
		overflow: auto
		overflow-x: hidden
		max-height: 85vh
	&.is-active	&-close
		width: 30px
		height: 30px
		border-radius: 4px
		box-shadow: 0 0 5px rgba(0,0,0,.1)
		position: absolute
		top: 15px
		right: 15px
		background-color: #fff
		&:before,
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			width: 23px
			height: 2px
			background-color: $font-color
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)

	&>.container
		position: relative
	&-overlay
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		height: 100vh
		background-color: rgba(0,0,0,.3)
		z-index: 895

@media only screen and (max-width: 1296px)
	.main-nav
		display: none

.text-color-2
	.main-nav
		.menu
			>li.current-menu-item>a,
			>li.current-page-ancestor>a,
			>li.current-menu-parent>a,
			>li>a.is-inview
				color: inherit !important
		ul.sub-menu
			background-color: var(--secondary-color)
