.main
	code
		display: block
		background-color: #333
		color: #20e620
		padding: 20px
		border-radius: 8px
		margin: 5px 0
		word-wrap: break-word
	 
	pre
		display: block
		background-color: #f1f1f1
		color: #666
		padding: 20px
		border-radius: 8px
		margin: 5px 0
		word-wrap: break-word