.sidenav-close[href="#!"],
.modal-close[href="#!"]
    position: absolute
    top: 6px
    right: 6px
    width: 30px
    height: 30px

    &:before, &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        height: 28px
        width: 1px
        border-left: 2px solid

    &:before
        transform: rotate(45deg)
    &:after
        transform: rotate(-45deg)
