.page-header
    display: flex
    align-items: flex-end
    position: relative
    padding: 90px 15px
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    &--default
    	min-height: 400px
    &--contenido
    	min-height: 500px
    &.has-featured-image
        background-blend-mode: multiply