.page-header
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    &__content
        padding: 15px 0
        position: relative
        z-index: 56