ul.page-numbers
	padding: 0 0 40px 0
	padding-left: 0
	margin: 0 auto
	display: flex
	justify-content: center
	position: relative
	z-index: 56
	color: var(--primary-color)

	li
		list-style-type: none !important

		&:before
			display: none
		
		a
			border: 2px solid var(--primary-color)
			color: var(--primary-color)
			width: 44px
			height: 44px
			line-height: 42px
			text-align: center
			display: inline-block
			margin-right: 5px
			border-radius: 50%

			&:hover
				background-color: var(--primary-color)
				color: #fff

	.current
		width: 44px
		height: 44px
		line-height: 42px
		border-radius: 50%
		text-align: center
		display: inline-block
		margin-right: 5px
		color: #fff
		border: 2px solid var(--primary-color)
		background-color: var(--primary-color)

	.next
		line-height: 42px
		border: 2px solid var(--primary-color)
		width: 42px
		height: 42px