.posts-listing
	&--style1
		display: flex
		flex-wrap: wrap
		justify-content: center

		&>div
			width: 30%
			margin: 0 1.6% 20px 1.6%



@media only screen and (max-width: 1024px)
	.posts-listing
		&--style1
			&>div
				width: 46%
				margin: 0 2% 20px 2%

@media only screen and (max-width: 660px)
	.posts-listing
		&--style1
			&>div
				width: 100%
				margin: 0 0 20px 0