.post-modal
    top: 50% !important
    left: 50% !important
    &.open
        transform: translate(-50%, -50%) !important
    &[data-status="loading"]
        min-height: 400px
        background: #fff url('../images/loading2.gif') no-repeat center
        background-size: 40px
