.post-card
    &--style1 &__content
        border: 1px solid var(--primary-color-light)
        padding: 20px
        position: relative

    &--style1 &__date
        font-size: 13px
        margin-bottom: 0
    
    &--style1 &__title
        font-size: 19px
        margin-bottom: 0
    
    &--style1 &__image
        padding-bottom: 55%
        width: 100%
        background-size: cover
        background-position: center
        display: block

    &--style1 &__tags
        display: flex
        flex-wrap: wrap
        gap: 3px
        position: absolute
        top: -46px
        right: 0
        padding: 8px
        span
            display: inline-block
            font-size: 12px
            background-color: var(--primary-color)
            color: #fff
            padding: 0 8px