.products-listing
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding: 15px
	&>div
		width: 32%
		display: flex
		align-items: center
		padding: 5px
		margin-bottom: 60px
		&:nth-child(even)
			background-color: #f1f1f1
			border-radius: 50px
		&>div:nth-child(2)
			padding: 0 5px
	span.img-wrapper
		width: 80px
		height: 80px
		overflow: hidden
		padding: 5px
		border: 1px solid #f1f1f1
		border-radius: 50%
		display: block
		background-color: #fff
	h4
		font-weight: bold
		margin: 0
		padding: 0 10px
		letter-spacing: 0

.zoom	
	border: 1px solid $tertiary-color
	border-radius: 50%
	width: 30px
	height: 30px
	display: block
	text-align: center
	cursor: pointer

.add-to-quote
	span
		display: none
	&[data-status="initial"]
		span:nth-child(1)
			display: initial
	&[data-status="processing"]
		span:nth-child(2)
			display: initial
	&[data-status="added"]
		background-color: #888
		span:nth-child(3)
			display: initial


.text-color-2
	.zoom	
		border: 1px solid #fff
	.products-listing
		&>div:nth-child(even)
			background-color: rgba(255,255,255,.1)
	.add-to-quote
		&[data-status="added"]
			border-color: #888







@media only screen and (max-width: 1404px)
	.products-listing
		&>div
			width: 48%

@media only screen and (max-width: 680px)
	.products-listing
		&>div
			width: 100%