.rrss-module
	a
		text-decoration: none
		transition: 500ms all
		margin: 0 8px
		&:last-child
			margin-right: 0

	// &.style2
	// 	a
	// 		background: #fff !important
	// 		color: $primary-color !important
	// 		&:hover
	// 			background-color: transparent !important
	// 			color: #fff !important
	// 			border: 1px solid #fff

	// &.style3
	// 	a
	// 		background: $primary-color !important
	// 		color: #fff !important
	// 		&:hover
	// 			background-color: transparent !important
	// 			color: $primary-color !important
	// 			border: 1px solid $primary-color

	// a[href*="facebook"]
	// 	background-color: #6081C4
	// a[href*="instagram"]
	// 	background: linear-gradient(45deg, #e7cd1f 25%,#e0012a 48%,#7833a9 76%)
	// a[href*="twitter"]
	// 	background-color: #00a2f3
	// a[href*="youtube"]
	// 	background-color: #f00	