.related-posts
	margin-top: 100px
	padding: 0 15px
	.posts-listing__item
		&:nth-child(3)
			width: 49.33%
			margin-right: 0


@media only screen and (max-width: 625px)
	.related-posts
		.posts-listing__item
			&:nth-child(3)
				width: 100%