.scroll
    &::-webkit-scrollbar
        width: $scroll-width
    &::-webkit-scrollbar-track
        background-color: var(--primary-color-lighten-1)
        border-radius: $scroll-width
    &::-webkit-scrollbar-thumb
        background-color: var(--primary-color)
        border-radius: $scroll-width