.searchform
	position: relative

	&__input
		margin-bottom: 0 !important
		padding-right: 30px !important
		width: 100%
		max-width: 100%
		border: 0 !important

		// &::placeholder

	&__submit
		position: absolute
		top: 0
		right: 0
		background-color: transparent
		border: 0
		width: 30px
		height: 100%
