.sidebar
    font-size: 13px
    h4
        font-size: 18px
        border-bottom: 1px solid
        padding-bottom: 3px

    ul,ol
        padding-left: 16px

    .main-content--sidebar-right &
        border-left: 1px solid var(--primary-color-light)
    .main-content--sidebar-left &
        border-right: 1px solid var(--primary-color-light)