.sidebar
	font-size: 13px
	margin-bottom: 30px
	// padding: 5px

	.widget
		background-color: #fff
		padding: 5px
		border-radius: 4px
		margin-bottom: 5px

	.widgettitle
		padding-bottom: 15px
		border-bottom: 1px solid silver

