.special-title-2
    width: 100%
    color: #fff
    h1,h2,h3,h4,h5,h6,p
        display: block
        padding: .4rem 1.2rem .3em 1.2rem
        background-color: var(--primary-color)
        color: #fff
        font-size: 99%
        width: fit-content
        letter-spacing: initial
        &[style*="text-align: center"]
            margin: auto
        &[style*="text-align: right"]
            margin-left: auto
        &:before
            display: none
    &+*
        margin-top: 20px