.special-list-1
	padding-left: 0 !important
	li
		padding: 15px 10px 15px 40px
		&[style*="text-align: center"],
		&[style*="text-align: right"]
			padding-left: 10px
			&:before
				display: none
	li:nth-child(odd)
		background-color: var(--primary-color-lighten-2)