.v23-togglebox
    &[data-template="tab"].tab-style1
        --icon-size: 1.7em
        border: 1px solid var(--ui-color-2)

    &[data-template="tab"].tab-style1 > &__nav
        display: flex
        overflow-x: auto
        overflow-y: hidden
        
    &[data-template="tab"].tab-style1 > &__nav > &__btn
        width: 100%
        margin: 0
        padding: 30px 15px
        cursor: pointer
        border: 0
        border-bottom: 1px solid var(--ui-color-2)
        border-right: 1px solid var(--ui-color-2)
        transition: background-color 200ms
        line-height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        img
            height: var(--icon-size)
            display: block
            margin: 0 auto 5px auto
        i
            display: block
            margin-bottom: 5px
            pointer-events: none
            font-size: var(--icon-size)
        &:last-child
            border-right: 0
        &.active, &:hover
            background-color: var(--ui-color-3)
        &.active
            border-bottom: 3px solid var(--ui-color-1)

    &[data-template="tab"].tab-style1 > &__nav > &__btn > &__title
        display: block
        font-weight: var(--bold-font-weight)
        white-space: nowrap

    &[data-template="tab"].tab-style1 > &__nav > &__btn > &__subtitle
        display: block
        font-size: .9em
        color: color-mix(in srgb, currentColor 60%, transparent)
        margin-top: 5px
        white-space: nowrap

    &[data-template="tab"].tab-style1 > &__items
        padding: 20px