.main
	width: 100%
	
.main-content
	display: flex 

	.sidebar
		padding: $page-module-padding
		width: $sidebar-width

	&--sidebar-right
		.main
			width: calc(100% - $sidebar-width)

	&--sidebar-left
		.main
			width: calc(100% - $sidebar-width)
			order: 1

		.sidebar
			order: 0


@media #{$medium-and-down}
	.main-content
		flex-wrap: wrap
	
		.sidebar
			width: 100%
	
		&--sidebar-right
			.main
				width: 100%
				
		&--sidebar-left
			.main
				width: 100%
				order: 0
	
			.sidebar
				order: 1
