.main-content
	.sidebar
		padding: $page-module-padding
		width: var(--sidebar-width)

	&--sidebar-left,
	&--sidebar-right
		display: flex 
		gap: 20px
		.main
			flex: 1

	&--sidebar-left
		.main
			order: 1
		.sidebar
			order: 0


@media #{$medium-and-down}
	.main-content
		flex-wrap: wrap
	
		.sidebar
			width: 100%
				
		&--sidebar-left
			.main
				order: 0
	
			.sidebar
				order: 1
