.text-xxs
    font-size: var(--text-xxs)
.text-xs
    font-size: var(--text-xs)
.text-s
    font-size: var(--text-s)
.text-m
    font-size: var(--text-m)
.text-l
    font-size: var(--text-l)
.text-xl
    font-size: var(--text-xl)
.text-xxl
    font-size: var(--text-xxl)
.text-xxxl
    font-size: var(--text-xxxl)