.widget_shopping_cart
    margin: 30px 0
    font-size: var(--text-xs)
    a
        line-height: 40px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li
    padding-left: 0
    padding-right: 2em
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img
    margin-left: 0
    margin-right: 15px
    margin-bottom: 0
    width: 40px
    float: left
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove
    right: 0
    left: initial
    top: 10px
    width: initial

.woocommerce-mini-cart__buttons
    display: flex
    .button
        flex-grow: 1
        text-align: center
    .button.checkout
        background-color: var(--primary-color)
        color: #fff
        &:hover
            background-color: var(--secondary-color)
            color: #fff