.marquee
    width: 100%
    display: flex
    overflow: hidden
    cursor: grab
    touch-action: pan-y
    user-select: none
    -webkit-user-select: none
    img
        -webkit-user-drag: none
        pointer-events: none
    --fade-width: 100px
    // fade effect using mask
    mask-image: linear-gradient(to right, transparent, black var(--fade-width), black calc(100% - var(--fade-width)), transparent)
    -webkit-mask-image: linear-gradient(to right, transparent, black var(--fade-width), black calc(100% - var(--fade-width)), transparent)

    &[data-direction="right"]
        justify-content: flex-end

    &-track
        display: flex
        align-items: center
        flex-shrink: 0
        @media #{$extra-large-and-up}
            gap: var(--d-gap)
        @media #{$large-only}
            gap: var(--l-gap)
        @media #{$medium-only}
            gap: var(--t-gap)
        @media #{$small-and-down}
            gap: var(--m-gap)
