.video-modal
	background-color: #000
	top: 50% !important
	left: 50% !important
	&.open
		transform: translate(-50%, -50%) !important
	.modal-content
		padding: 0
		text-align: center
	.modal-close
		background-color: transparent
		&:before,&:after
			background-color: #fff
