.v23-togglebox
    --ui-color-1: var(--primary-color)
    --ui-color-2: var(--primary-color-light)
    --ui-color-3: var(--primary-color-lighter)
    &.v23-togglebox-initialized &__item
        &:not(.active)
            display: none
    &__btn
        img,span
            pointer-events: none