.carousel
    position: relative

    // styles for non tiny-slider carousels
    &__slider:not(.tns-slider)
        overflow-x: scroll
        display: flex
        & > div
            flex-shrink: 0
        @media #{$extra-large-and-up}
            gap: var(--d-gap)
            & > div
                width: calc((100% / var(--d-columns) - var(--d-gap) + var(--d-gap) / var(--d-columns)))
        @media #{$large-only}
            gap: var(--l-gap)
            & > div
                width: calc((100% / var(--l-columns) - var(--l-gap) + var(--l-gap) / var(--l-columns)))
        @media #{$medium-only}
            gap: var(--t-gap)
            & > div
                width: calc((100% / var(--t-columns) - var(--t-gap) + var(--t-gap) / var(--t-columns)))
        @media #{$small-and-down}
            gap: var(--m-gap)
            & > div
                width: calc((100% / var(--m-columns) - var(--m-gap) + var(--m-gap) / var(--m-columns)))

/* ANIMATION FOR GALLERY MODE */
/* the incoming slide scales in and becomes fully opaque */
.gallery-slider-animation-in
    animation: gallerySliderAnimationIn 0.6s ease-in-out forwards
    z-index: 2

/* the outgoing slide becomes fully transparent */
.gallery-slider-animation-out
    animation: gallerySliderAnimationOut 0.6s ease-in-out forwards
    z-index: 1

@keyframes gallerySliderAnimationIn
    0%
        opacity: 0
        transform: scale(0.98)
    40%
        /* Less than half the time, it is already very visible */
        opacity: 0.8
    100%
        opacity: 1
        transform: scale(1)

@keyframes gallerySliderAnimationOut
    0%
        opacity: 1
    100%
        opacity: 0
