.content-layout{
	gap: 20px;

	&.jc-center{ justify-content: center; }
	&.jc-flex-start{ justify-content: flex-start; }
	&.jc-flex-end{ justify-content: flex-end; }
	&.jc-space-between{ justify-content: space-between; }
	&.ai-center{ align-items: center; }
	&.ai-flex-start{ align-items: flex-start; }
	&.ai-flex-end{ align-items: flex-end; }
	&.ai-space-between{ align-items: space-between; }
}

.content-layout.layout-flex{
	display: flex;
	flex-wrap: wrap;
}

.content-layout.layout-grid{
	display: grid;
	@media only screen and (min-width: 769px) {
		grid-template-columns: repeat(12, 1fr);

		$i: 1;
		$nth-cols : 12;
		@while $i <= $nth-cols {
			.width-#{$i}{
				grid-column: span $i;
			}
			$i: $i + 1;
		}
	}
} 