.main-content[class*="main-content--sidebar"]
    .posts-listing
        position: relative
        --container-width: 100%
        .expander-inner.container
            max-width: 100%
            width: 100%

.carousel
    & + .expander
        margin-top: 30px
    
.expander
    grid-column: 1 / -1 // force expander to take full width of the row
    background-color: var(--blog-color)
    z-index: 120

    &-inner
        position: relative

    &-response
        overflow: auto
        padding: 8%
        @extend .scroll

    &-close
        position: absolute
        width: 23px
        height: 23px
        top: 25px
        right: 30px
        cursor: pointer
        z-index: 89

        &::before,
        &::after
            content: ''
            position: absolute
            width: 100%
            top: 50%
            left: 0
            height: 1px
            background: currentColor
            -webkit-transform: rotate(45deg)
            -moz-transform: rotate(45deg)
            transform: rotate(45deg)

        &::after
            -webkit-transform: rotate(-45deg)
            -moz-transform: rotate(-45deg)
            transform: rotate(-45deg)
    
    &-loading
        position: absolute
        top: 0
        bottom: 0
        left: 0
        margin: auto
        right: 0
        background-image: url('../images/loading2.gif')
        width: 50px
        height: 50px
        background-size: cover
        z-index: 100

.dark-mode .expander
    background-color: transparent
    border-top: 1px solid var(--primary-color-light)
    border-bottom: 1px solid var(--primary-color-light)