.theme-gallery
    img, video, iframe, .media__element
        object-fit: cover
        aspect-ratio: var(--aspect-ratio)
        max-width: 100%
        height: auto

    iframe
        width: 100%
        aspect-ratio: var(--aspect-ratio, 16 / 9)

    &__item
        position: relative
        text-align: center

.theme-gallery.has-columns
    justify-content: center

.theme-gallery.carrusel
    .carrusel__slider
        margin: auto

.theme-gallery__marquee
    width: 100%
    display: flex
    overflow: hidden
    --fade-color: #fff
    --fade-width: 100px
    position: relative
    &-track
        display: flex
        align-items: center
        flex-shrink: 0
        @media #{$large-and-up}
            gap: var(--d-gap)
        @media #{$medium-only}
            gap: var(--t-gap)
        @media #{$small-and-down}
            gap: var(--m-gap)
    // fade elements
    &::before,
    &::after
        content: ''
        position: absolute
        top: 0
        height: 100%
        width: var(--fade-width)
        pointer-events: none
        z-index: 2
    &::before
        left: 0
        background: linear-gradient(to right, var(--fade-color), transparent)
    &::after
        right: 0
        background: linear-gradient(to left, var(--fade-color), transparent)

.theme-gallery--masonry
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    .theme-gallery__item,
    .theme-gallery__item-sizer
        width: calc( 100% / var(--d-columns) )
    .theme-gallery__item
        border: 2px solid white
        background-color: #000

    @media #{$medium-only}
        .theme-gallery__item,
        .theme-gallery__item-sizer
            width: calc( 100% / var(--t-columns) )

    @media #{$small-and-down}
        .theme-gallery__item,
        .theme-gallery__item-sizer
            width: calc( 100% / var(--m-columns) )
