.theme-gallery
    img, video, iframe, .media__element
        object-fit: cover
        aspect-ratio: var(--aspect-ratio)
        max-width: 100%
        height: auto

    iframe
        width: 100%
        aspect-ratio: var(--aspect-ratio, 16 / 9)

    &__item
        position: relative
        text-align: center

.theme-gallery.has-columns
    justify-content: center

.theme-gallery.carousel
    .carousel__slider
        margin: auto

.theme-gallery--masonry
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    .theme-gallery__item,
    .theme-gallery__item-sizer
        width: calc( 100% / var(--d-columns) )
    .theme-gallery__item
        border: 2px solid white
        background-color: #000

    @media #{$medium-only}
        .theme-gallery__item,
        .theme-gallery__item-sizer
            width: calc( 100% / var(--t-columns) )

    @media #{$small-and-down}
        .theme-gallery__item,
        .theme-gallery__item-sizer
            width: calc( 100% / var(--m-columns) )
