.icon-box
	line-height: 0
	img, svg
		max-width: fit-content
		height: 1em
	i
		width: 1em
		aspect-ratio: 1/1
		display: inline-flex
		align-items: center
		justify-content: center

.icon-and-text
	display: flex
	gap: 20px
	.icon-wrapper
		display: inline-flex
		height: 100%
		font-size: 40px
	.content-wrapper
		width: 100%

.icon-and-text.icon--top
	flex-direction: column

.icon-and-text.icon--right
	.icon-wrapper
		order: 2
	.content-wrapper
		order: 1

// horizontal alignment
.icon-and-text[class*="-all"]
	width: fit-content
.icon-and-text.center-all
	margin: auto
.icon-and-text.right-all
	margin-left: auto