.icon-and-text
	.icon-wrapper
		line-height: 0
		span
			display: inline-flex
		img
			max-width: fit-content
	.content-wrapper
		width: 100%

.icon-and-text.icon--top
	display: flex
	flex-direction: column
	.icon-wrapper
		padding-bottom: 10px

.icon-and-text.icon--left
	display: flex
	.icon-wrapper
		padding-right: 20px

.icon-and-text.icon--right
	display: flex
	.icon-wrapper
		padding-left: 20px
		order: 2
	.content-wrapper
		order: 1

// horizontal alignment
.icon-and-text[class*="-all"]
	width: fit-content
.icon-and-text.center-all
	margin: auto
.icon-and-text.right-all
	margin-left: auto