.icon
	img
		max-width: initial
	&--circle,
	&--circle-outline
		span
			justify-content: center
			display: inline-flex
			width: 2em
			align-items: center
			height: 2em
			border-radius: 50%
	&--circle-outline
		span
			border: 1px solid

.inline-icon
	display: inline-block
	height: 2em
	width: 2em
	display: inline-flex
	align-items: center
	justify-content: center
	border-radius: 50%