.posts-listing
    .carrusel__slider
        align-items: flex-start
        justify-content: flex-start

.post-modal,
.expander
    .full-width 
        width: initial !important
        position: initial !important
        left: initial !important
        right: initial !important
        margin-left: initial !important
        margin-right: initial !important