.listing
    .load_more_posts i
        margin-right: 8px
        display: inline-block
    &[data-status="loading"] .load_more_posts i
        animation: rotating1 1.2s linear infinite

.sticky-posts-filter .posts-filter
    background-color: #fff
    position: sticky
    top: var(--sticky-header-height)

.posts-listing
    .carrusel__slider
        align-items: flex-start
        justify-content: flex-start

.post-modal,
.expander
    .full-width 
        width: initial !important
        position: initial !important
        left: initial !important
        right: initial !important
        margin-left: initial !important
        margin-right: initial !important
    
.postcard[data-action="none"] a
    cursor: default

@keyframes rotating1
    from
        -webkit-transform: rotate(0deg)
    to
        -webkit-transform: rotate(360deg)