.componente-slider-de-contenidos
	position: relative
	@extend .tns-control-position

	.tns-outer
		position: relative

	.tns-controls
		@extend .tns-control-buttons

	&[data-show-title='0'] .tns-nav
		@extend .tns-navigation

	&[data-show-title='1'] .tns-nav
		background: #ffffff
		button
			background-color: transparent
			border: 0
			margin: 0 10px
			padding: 18px 15px
			outline: 0

			&.tns-nav-active
				background-color: var(--secondary-color)
				position: relative
				color: #fff

	.content-layout
		padding-right: 0
		padding-left: 0

// abajo de...
@media only screen and (max-width: 1024px)
	.componente-slider-de-contenidos
		&[data-show-title='1'] .tns-nav
			button
				font-size: .9em