.testimonials
    @extend .tns-slider-theme

    &>.container
        position: relative

.testimonial
    padding: 40px var(--component-space-around-x)
    font-size: 15px
    line-height: 170%
    min-height: 255px
    &__header
        display: flex
        margin-bottom: 15px
    &__author
        display: inline-block
        background-image: url('../images/comment-author.png')
        background-color: var(--primary-color-lighter)
        height: 74px
        width: 74px
        border-radius: 50%
        margin-right: 20px
        background-size: cover
        background-position: center
        flex-shrink: 0
    .text-color-2 &__author
        background-image: url('../images/comment-author-2.png')
    &__comment
        display: none
    &__modal
        width: 328px
        .modal-content
            padding: 0
    &__modal &__excerpt
        display: none
    &__modal &__comment
        display: block

    &:has(> .video-background)
        transition: 200ms
        video
            opacity: .5
        .zoom-video
            background: url('../images/play.png') no-repeat center
            background-size: 50px 50px
            transition: 200ms all
        &:hover
            background-color: var(--primary-color)
            .zoom-video
                background-size: 70px 70px