.page-id-86
	.description
		font-size: 12px

#user-profile-mod-1
	position: relative
	margin-top: -80px
	z-index: 56

	.tml-user-login-wrap,
	.tml-first-name-wrap,
	.tml-last-name-wrap
		width: 32%
		display: inline-block
		vertical-align: top
	
	
	.tml-nickname-wrap,
	.tml-display-name-wrap,
	.tml-user-email-wrap,
	.tml-user-url-wrap
		width: 48%
		display: inline-block
		vertical-align: top
