@media only screen and (max-width: 1440px)
	#quienes-somos-module-1,
	#about-mv23-module-1
		background-position-y: top !important
		background-size: auto 50%




@media only screen and (max-width: 900px)
	#quienes-somos-module-1,
	#about-mv23-module-1
		background-image: url('none') !important
