/* 
 * Clean editor interface
 */
/* body.ultimate-builder-editor #wpbody-content>div:not(.block-editor):not(#screen-meta),  */
body.ultimate-builder-editor {
    #wpfooter {
        display: none;
    }
    #wpcontent {
        padding-left: 0;
    }
    #wpbody-content{
        padding-bottom: 0;
    }
    .uf-form-success, 
    .uf-form-error,
    .uf-form-special,
    .uf-form-footer{
        display: none;
    }
    .uf-field-type-ultimate_builder{
        padding: 0 !important;
    }
}
@media (min-width: 782px){
    body.js.is-fullscreen-mode #adminmenumain, 
    body.js.is-fullscreen-mode #wpadminbar {
        display: none;
    }
    body.js.is-fullscreen-mode #wpcontent, 
    body.js.is-fullscreen-mode #wpfooter {
        margin-left: 0;
    }
    body.js.is-fullscreen-mode {
        height: calc(100% + 32px);
        margin-top: -32px;
    }
}

/* POST LOCK DIALOG */
body.ultimate-builder-editor .notification-dialog{
    background-color: var(--ui-color-2);
    width: 500px;
}

.style-manager{
    /* FIX INPUT CHECKBOX TICK */
    & input[type=checkbox], & input[type=radio] {
        display: block;
        line-height: initial;
        height: initial;
        margin: 0;
        padding: 0!important;
        width: 100%;
        min-width: auto;
        &::before{
            display: none !important;
        }
    }
    /* FIX SELECT BACKGROUND */
    & select{
        background: initial !important;
    }
    /* FIX BACKGROUND RADIO INPUTS DISSAPEAR */
    .input-radio-wrapper input{
        display: none !important;
    }
}

/* fix input styles in context menu */
.gcm-item{
    padding: 8px 10px !important;
    /* line-height: 2 !important; */
    min-height: 40px !important;
    box-shadow: initial !important;
    border-radius: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    background-color: var(--ui-color-2, #1c1c1c) !important;
    color: var(--font-color, #9c9a9a) !important;
}