/* selected component outline (body selector add specificity) */
body .gjs-selected{ 
    outline: 2px solid #c66900 !important
}
/* component is locked */
.gjs-no-pointer{
    opacity: .23
}
/* remove top padding from body */
body{
    padding-top: 0 !important;
}  
/* make container visible */
[data-gjs-type="container"]{
    min-height:100vh;
}
/* layout 2 styles */
.layout2 > div{
    width: 98%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}