/* selected component outline (body selector add specificity) */
body .gjs-selected{ 
    outline: 2px solid #c66900 !important
}
/* component is locked */
.gjs-no-pointer{
    opacity: .23
}
/* remove top padding from body */
body{
    padding-top: 0 !important;
}  
/* make container visible */
.container{
    min-height:100vh;
}
/* .container{
    margin:0 auto;
    width:98%;
    max-width:1220px;
}
.page-module{
    min-height: 100px;
}
.page-module--layout2,
.page-module--layout3{
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}
.page-module--layout3 > div{
    width: 98%;
    max-width: 1220px;
    margin: 0 auto;
}
.comp-wrapper{
    padding: 5px;
    min-height: 50px;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
} */
 