/* selected component outline (body selector add specificity) */
body .gjs-selected{ 
    outline: 2px solid #c66900 !important
}
/* component is locked */
.gjs-no-pointer{
    opacity: .23
}
/* remove top padding from body */
body{
    padding-top: 0 !important;
}  
/* make components visible */
[data-gjs-type="container"]{
    min-height:100vh;
}
[data-gjs-type="comp_text_editor"]:not(.full-height),
[data-gjs-type="comp_button"]:not(.full-height),
[data-gjs-type="video2"]:not(.full-height),
[data-gjs-type="reusable-section"]:not(.full-height),
[data-gjs-type="comp-wrapper"]:not(.full-height){
    min-height:50px;
}
/* layout 2 styles */
.layout2 > div:not(.full-width),
.layout2 > figure{
    width: 98%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}