/* selected component outline (body selector add specificity) */
body .gjs-selected{ 
    outline: 2px solid #c66900 !important
}
/* component is locked */
.gjs-no-pointer{
    opacity: .23
}
/* remove top padding from body */
body{
    padding-top: 0 !important;
}  
/* make components visible */
[data-gjs-type]:not(.full-height):not([data-gjs-type="spacer"]):empty {
    padding-top: 25px;
    padding-bottom: 25px;
}
[data-gjs-type="wrapper"],
[data-gjs-type="container"]{
    min-height:100vh !important;
}
/* layout 2 styles */
.layout2 > div:not(.full-width),
.layout2 > figure{
    width: 98%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}
/* let placeholder image use the aspect ratio */
img.gjs-plh-image{
    height: auto;
    aspect-ratio: 16 / 9;
    width: 100%;
}
/* disable menu pointer events */
[data-gjs-type="menu"]{ overflow: hidden; }
[data-gjs-type="menu"] .menu{
    pointer-events: none;
}
/* offcanvas element styles */
.oce-overlay{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}
[data-gjs-type="oce-element"]{
    background-color: #fff;
}
.oce-element{
    position: fixed;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    z-index: 10000;
    overflow: auto;
    transition: all 0.3s ease;
}
.oce-modal-content{
    padding: 24px;
    overflow: auto;
}
.oce-element--modal{
    border-radius: 2px;
    width: 55%;
    max-width: 900px;
    top: 10%;
    left: 0; right: 0;
    margin: auto;
    max-height: 90%;
}
@media only screen and (max-width: 1024px) {
    .oce-element--modal{
        width: 92%;
    }
}
.oce-element--sidenav{
    max-width: 360px;
    height: 100vh;
    width: 98%;
    top: 0;
}
.oce-element--sidenav-left{
    left: 0;
}
.oce-element--sidenav-right{
    right: 0;
}
.oce-element--bottom_sheet{
    width: 100%;
    height: 200px;
    bottom: 0; left: 0;
    overflow: auto;
}
.oce-dynamic-content{
    padding: 20px;
    width: 100%;
    display: flex;
    background-color: silver;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.oce-dynamic-content::after{
    content: 'DYNAMIC CONTENT';
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* spacer styles */
[data-gjs-type="spacer"]{
    height: 30px;
    position: relative;
}
[data-gjs-type="spacer"]::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        rgba(150, 150, 150, 0.1) 3px,
        transparent 3px,
        transparent 8px,
        rgba(150, 150, 150, 0.1) 11px,
        transparent 11px
    );
}

/* remove row after element */
.row::after{
    display: none;
}