/* Adjust overlay group positioning */
.uf-overlay-box:has(.uf-sidenav){
    left: auto;
    right: 0;
    width: 400px;
    transform: initial;
    top: 0;
    bottom: 0;
}
/* Increase width for media uploader */
.uf-overlay-box:has([id^="__wp-uploader"]),
.uf-overlay-box:has(.uf-icon-popup){
    width: 940px;
}
/* Align data store icon to top */
.gjs-toolbar-item__data-store{
    vertical-align: top;
}