.icon-and-text-widget
	// font-weight: 400 !important
	// line-height: 1.8 !important
	// font-size: 17.5px !important
	display: flex
	align-items: center
	.widget-icon
		font-size: 40px
		line-height: 23px 
		margin-right: 10px
	.widget-content
		width: 100%