#component-settings,
.uf-overlay-box
    color: var(--ui-font-color)

    &>.uf-group>.uf-group-header
        .uf-group-control-remove,
        .uf-group-control-open-menu
            display: none
    .common-settings-control .dashicons
        display: none

    h1, h2, h3, h4, h5, h6
        color: var(--ui-font-color)
    [type="checkbox"]
        accent-color: var(--brand-color-1)
    // placeholder color
    ::-webkit-input-placeholder
        color: var(--ui-font-color) !important
        opacity: 0.6
    select:hover
        color: inherit !important
    .wp-ui-highlight
        background-color: var(--brand-color-1)
    .uf-group
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-4)
    .uf-group-header
        border-color: var(--ui-color-4)
    .uf-group-number,
    .uf-group-control
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
        &:hover
            background: var(--ui-color-4)
    .uf-group-title
        color: var(--ui-font-color)
    .uf-inline-tab
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        h3
            color: var(--ui-font-color)
    .uf-boxed-fields .uf-field-layout-grid
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-4)
    .uf-inline-tab-toggle
        background-color: var(--ui-color-2) !important
        border-color: var(--ui-color-4) !important
        color: var(--ui-font-color)
    .uf-inline-tab-toggle[disabled]
        opacity: 0.2
    .uf-field-suffix, .uf-field-prefix
        background-color: var(--ui-color-3)
        border-color: var(--ui-color-4)
    .uf-field-layout-grid.uf-field-type-complex > .uf-field-label
        border-color: var(--ui-color-4)
    textarea, input, select, .uf-image-select label
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    input.select2-search__field
        background-color: transparent
    .uf-image-select label.uf-selected
        border-color: var(--brand-color-1)
    .uf-fancy-checkbox-wrap
        background-color: var(--brand-color-1)
        border-color: var(--ui-color-4)
    .uf-fancy-checkbox-button
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
    input:not(:checked) + .uf-fancy-checkbox-wrap
        background-color: var(--ui-color-2)
    radio, checkbox, input[type="radio"], input[type="checkbox"]
        accent-color: var(--brand-color-1)
    input[type=radio]:checked::before
        background-color: var(--brand-color-1)
    .wp-color-result-text
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    .wp-picker-container .iris-picker
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
    .dropdown-wrapper 
        color: var(--ui-font-color)
        .dropdown
            background-color: var(--ui-color-2)
            border-color: var(--ui-color-4)
            .dropdown-menu
                background-color: var(--ui-color-2)
                border-color: var(--ui-color-4)
            div
                color: var(--ui-font-color)
                &:hover, &.active
                    background-color: var(--ui-color-4)
        button.dropdown-button
            border-color: var(--ui-color-4)
    .uf-file, .uf-file-preview, .uf-video, .uf-video-preview-wrapper, .uf-video-footer, .uf-gallery, .uf-gallery-preview-wrapper, .uf-gallery-footer
        border-color: var(--ui-color-4)
    .uf-file-buttons, .uf-video-footer, .uf-gallery-footer, .uf-gallery, .uf-gallery-images
        background: var(--ui-color-2)
    .uf-icon-preview-icon
        color: var(--ui-font-color)
    .uf-section
        background-color: var(--ui-color-4)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    .uf-field .select2-container--default .select2-selection--multiple, .uf-field .select2-container--default.select2-container--focus .select2-selection--multiple,
    .uf-field .select2-container--default .select2-selection--multiple .select2-selection__choice
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    .common-setting-small .button-primary
        color: var(--ui-font-color)
        &:hover
            color: var(--brand-color-1)
            background-color: var(--ui-color-2)
    .uf-separator-top
        background: var(--ui-color-2) !important

    // object preview
    .uf-object-preview
        background-color: var(--ui-color-1)
        p strong
            background-color: var(--ui-color-3)
        a
            color: var(--brand-color-1)
    .uf-object
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
    .uf-object-buttons
        border-color: var(--ui-color-4)
    .uf-chooser
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        &:before
            border-bottom-color: var(--ui-color-4)
    .uf-chooser-list
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-4)
    .uf-chooser-item
        border-color: var(--ui-color-4)
    .uf-chooser-item-selected 
        .uf-object-preview
            background-color: var(--ui-color-3)
        p strong
            background-color: var(--brand-color-1)
    .uf-chooser-no-data
        color: inherit
    .uf-object-toggle-button
        height: initial
        line-height: 1
        min-height: auto
        border-color: var(--ui-color-4)
        background-color: var(--ui-color-2)
        color: var(--ui-font-color)
    
    // tynimce overrides
    .wp-editor-container
        border-color: var(--ui-color-3)
    div.mce-toolbar-grp
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    .mce-toolbar .mce-ico
        color: var(--ui-font-color)
    .mce-toolbar .mce-btn-group .mce-btn.mce-listbox
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)
    .mce-btn .mce-txt,
    .mce-menubtn button
        color: var(--ui-font-color)
    .mce-toolbar .mce-btn-group .mce-btn.mce-active, .mce-toolbar .mce-btn-group .mce-btn:active, .qt-dfw.active,
    .mce-toolbar .mce-btn-group .mce-btn:focus, .mce-toolbar .mce-btn-group .mce-btn:hover, .qt-dfw:focus, .qt-dfw:hover
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-4)
    div.mce-panel
        background-color: var(--ui-color-2)
    // switcher buttons
    .wp-switch-editor,
    .quicktags-toolbar
        background-color: var(--ui-color-1)
        border-color: var(--ui-color-2)
        color: var(--ui-font-color)
    .html-active .switch-html, .tmce-active .switch-tmce
        background-color: var(--ui-color-2)
        border-color: var(--ui-color-4)

    // fields on table
    .uf-table
        border-color: var(--ui-color-4)
    .uf-table-headings
        background: var(--ui-color-2)
        &:before, &:after
            background: var(--ui-color-2)
            border-color: var(--ui-color-4)
    .uf-boxed-fields .uf-field-layout-grid
        border-left: 0
    .uf-table-cell:before
        display: none
    .uf-table-row 
        border-top: 0

    // buttons
    .button-primary
        background: var(--brand-color-1) !important 
        border-color: var(--brand-color-1) !important
        color: #fff !important
        &[disabled]
            opacity: 0.5
    .button-secondary, .button
        background: var(--ui-color-2)
        border-color: var(--ui-color-4) !important
        color: var(--ui-font-color) !important
        &:hover
            background: var(--ui-color-4)

    .uf-repeater-tags-tag
        background: var(--brand-color-1)
        color: #fff

    // fonts field
    .uf-font-top
        background: var(--ui-color-1)
        border-color: var(--ui-color-4)
    .uf-font-footer
        background: var(--ui-color-2)
        border-color: var(--ui-color-4)
    .uf-font-variant span
        color: inherit
    .uf-fonts-font.even
        background: var(--ui-color-2)
    .uf-fonts-sidebar
        background: var(--ui-color-2)
        border-color: var(--ui-color-4)
    .uf-variants-header
        background: var(--ui-color-2)
    .uf-variant
        border-color: var(--ui-color-4)

    // tabs
    .uf-tab-wrapper
        border-bottom: 1px solid var(--ui-color-4)
    .uf-boxed-fields .uf-tab-wrapper,
    .uf-tab-wrapper .uf-tab
        background: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
    .uf-tab-wrapper .uf-tab-active
        background: var(--brand-color-1) !important
        border-bottom: 1px solid var(--brand-color-1) !important
        border-color: var(--brand-color-1)
        color: #fff !important

.uf-overlay-box
    background: var(--ui-color-1) !important
    border-color: var(--ui-color-4) !important
    a
        color: var(--brand-color-1) !important
    .uf-overlay-header,
    .uf-overlay-footer
        background: var(--ui-color-2)
    .uf-overlay-screen
        background: var(--ui-color-1) !important
    .uf-overlay-header,
    .uf-boxed-fields .uf-field-layout-row
        border-bottom: 1px solid var(--ui-color-4)
    .uf-boxed-fields .uf-field-layout-row:before
        background: var(--ui-color-2)
        border-right: 1px solid var(--ui-color-4)
    .uf-boxed-fields .uf-field-layout-row > .uf-field-input-wrap
        border-left: 1px solid var(--ui-color-4)

    // icon selector
    .uf-icon-group-selector label
        background: var(--ui-color-2)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)
        text-shadow: none
        box-shadow: none
    .uf-icon-group-selector input:checked + label
        background: var(--brand-color-1)
        border-color: var(--brand-color-1)
        color: #fff
        box-shadow: none
        text-shadow: none
    .uf-icon-sidebar
        background: var(--ui-color-2)
    .uf-icon-search-input[type=text]
        background: var(--ui-color-1)
        border-color: var(--ui-color-4)
        color: var(--ui-font-color)

    .context-menu
        background-color: var(--ui-color-3)
        border: 1px solid var(--ui-color-3)

// media modal and upload ui from wp core
.media-modal
    color: initial !important
    h2
        color: #646970 !important
    a
        color: #2271b1 !important
    .button, .button-primary, .button-secondary
        border-color: var(--brand-color-1) !important
        color: #fff !important
    select, input, textarea
        background-color: initial !important
        border-color: initial !important
        color: initial !important
        
.upload-ui
    .button
        color: #2271b1 !important