%testimonial-paper
    padding: 40px 20px
    background-color: #fff
    box-shadow: 0 2px 10px rgba(0,0,0,0.1)
    border-radius: 10px

%circle-testimonial-image
    aspect-ratio: 1/1
    object-fit: cover
    border-radius: 50%
    width: 80px
    min-width: 80px
    flex-shrink: 0
    border: 5px solid #fff
    box-shadow: 0 2px 10px rgba(0,0,0,0.1)
    
.testimonial
    display: flex
    flex-direction: column
    gap: 20px

    &__header
        display: flex
        align-items: center
        gap: 20px
        position: relative

    &__image
        &-wrapper
            margin: 0

    &__info
        flex-grow: 1

    &__body
        font-size: var(--text-xs)

@import "style1"
@import "style2"
@import "style3"
@import "style4"
@import "style5"
@import "style6"