.horizontal-nav-3
    @extend %basic-global-menu-styles
    @extend %horizontal-sub-menu-styles

    .menu
        @extend %shared-horizontal-navs-styles
        @extend %hidden-label
        @extend %fix-for-hidden-label
        @extend %menu-item-styles

        >li
            min-width: 100px
            max-width: 130px
            align-items: center
            &:hover
                background-color: var(--primary-color-lighter)
            & > a .menu-item__icon
                display: block
                font-size: 18px
                margin-right: 0
                margin-bottom: 8px
            & > a
                width: 100%
                padding: 10px 10px 8px 10px
                text-align: center
                font-size: 13px
                height: 100%
                
        >li.current-menu-item>a,
        >li.current-page-ancestor>a,
        >li.current-menu-parent>a,
        >li>a.is-inview
            color: var(--primary-color)

        >li.menu-item-has-children>a:after
            display: none
        >li.menu-item-has-children>a>.menu-item__icon:after
            @extend %item-has-children-arrow-down
    
    .-more > a 
        & > span
            display: block !important

    @extend %item-has-children-arrow-visibility

    @media only screen and (max-width: #{$menu-breakpoint})
        .toggle-submenu
            position: absolute
            top: 4px
            right: 12px
        .menu
            >li.menu-item-has-children>a>.menu-item__icon
                width: 50%
            >li.menu-item-has-children>a>.menu-item__icon:after
                display: none
        .sub-menu
            .toggle-submenu
                top: 0
                bottom: 0
                margin: auto
                right: 5px
            li.menu-item-has-children>a
                padding-right: 50px
