.horizontal-nav-2
    @extend %basic-global-menu-styles
    @extend %horizontal-sub-menu-styles

    .menu
        border-bottom: 1px solid var(--primary-color-light)
        @extend %shared-horizontal-navs-styles
        @extend %hidden-label
        @extend %fix-for-hidden-label
        @extend %menu-item-styles
        @extend %current-menu-item-styles

        >li:not(:first-child)
            border-left: 1px solid var(--primary-color-light)
        >li
            &:hover
                background-color: var(--primary-color-lighter)
        >li>a
            padding: 15px 15px
            text-align: center

        >li.current-menu-item,
        >li.current-page-ancestor,
        >li.current-menu-parent,
        >li:has(a.is-inview)
            &>a::before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                background-color: var(--primary-color)
                height: 4px

    @extend %item-has-children-arrow-visibility

    @media only screen and (max-width: #{$menu-breakpoint})
        .toggle-submenu
            position: absolute
            top: 0
            bottom: 0
            margin: auto
            right: 5px
        .menu, .sub-menu
            li.menu-item-has-children>a
                padding-right: 50px