.main-content
	& > .aside
		padding: $page-module-padding
		width: var(--sidebar-width)

	&--sidebar-left,
	&--sidebar-right
		display: flex 
		gap: 20px
		& > .main
			flex: 1
			min-width: 0
			padding: $page-module-padding

		& > .aside
			flex-shrink: 0

		.full-width
			width: 100%
			margin-left: 0 !important
			margin-right: 0 !important
			left: 0
			right: 0

	&--sidebar-left
		& > .main
			order: 1
		& > .aside
			order: 0

.page .main
	padding: 0

@media #{$medium-and-down}
	.main-content
		&--sidebar-left,
		&--sidebar-right
			flex-direction: column

		& > .aside
			width: 100%	

		&--sidebar-left
			& > .main
				order: 0
	
			& > .aside
				order: 1
