.main-content
	&--sidebar-left,
	&--sidebar-right
		display: flex 
		gap: 20px
		& > .main
			flex: 1
			min-width: 0
		& > .aside
			width: var(--sidebar-width)
			flex-shrink: 0
		@media #{$medium-and-down}
			flex-direction: column
			& > .aside
				width: 100%

	&--sidebar-left
		flex-direction: row-reverse
		& > .aside
			border-right: 1px solid var(--primary-color-light)
			padding-right: 20px !important
		@media #{$medium-and-down}
			flex-direction: column

	&--sidebar-right
		& > .aside
			border-left: 1px solid var(--primary-color-light)
			padding-left: 20px !important