.dynamic-megamenu
    --sidenav-width: 360px
    --posts-columns: 2

    &__box
        display: flex
        max-height: calc(100vh - 190px)
    &__header,
    &__posts
        padding: 15px 30px
    &__sidenav,
    &__posts
        overflow: auto
        @extend .scroll

    &__sidenav
        background-color: var(--primary-color-lighter)
        width: var(--sidenav-width)
        border-right: 1px solid var(--primary-color-light)
        overflow-y: scroll
        padding: 23px 0

        // override vertical-nav-1 styles
        .menu-item
            border-bottom: 0 !important
            a
                padding-top: 4px
                padding-bottom: 4px
        .menu-item__label
            font-size: 14px
        .active
            color: var(--primary-color) !important
        .sub-menu
            padding: 10px 0
            background-color: rgba(0,0,0,.04)

    &__content
        width: calc(100% - var(--sidenav-width))
        display: flex
        flex-direction: column-reverse
        justify-content: start
    &__header
        border-bottom: 1px solid var(--primary-color-light)
        position: relative
        text-transform: uppercase
        b
            font-size: 11px
    &__posts
        ul
            margin: 0
            padding-left: 0
            column-gap: 50px
            -webkit-columns: var(--posts-columns)
            -moz-columns: var(--posts-columns)
            columns: var(--posts-columns)
            font-size: 14px
            line-height: initial
            // page-break-inside: avoid
            // break-inside: avoid-column
            // -webkit-column-break-inside:avoid
            // -moz-column-break-inside:avoid
            // -o-column-break-inside:avoid
            // -ms-column-break-inside:avoid
            // column-break-inside:avoid
            // display: table
        li
            margin-bottom: 15px
