.page-module
	padding: $page-module-padding

.component
	padding: var(--component-space-around-y) var(--component-space-around-x)
	&.full-width .container
		max-width: var(--container-width)

.need-space-around
	padding: var(--component-space-around-y) var(--component-space-around-x)
	margin: var(--component-space-around-x)

.cover-all
	position: absolute !important
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	z-index: 125
	display: flex
	align-items: center
	justify-content: center
	transition: 300ms all
	text-decoration: none

:has(> .cover-all)
	position: relative

:has(> .video-background)
	overflow: hidden
	position: relative
	background-color: #000
	background-image: url() !important
	video, iframe
		position: absolute
		top: 0
		left: 0
		width: 101%
		height: 101%
		object-fit: cover
		z-index: 1
		opacity: var(--video-opacity)
		pointer-events: none
	iframe
		width: 100%
	.video-background ~ *
		position: relative
		z-index: 56

.sticky,
.pinned-block
	position: sticky
	top: var(--body-padding-top)

.pinned-block
	height: fit-content

img[data-fancybox], img.zoom
	cursor: zoom-in

@media #{$large-and-up}
	.extend-bg-to-left,
	.extend-bg-to-right
		position: relative
		*:not(.extended-bg)
			position: relative
			z-index: 56
	.extended-bg
		position: absolute
		top: 0
		height: 100%
		pointer-events: none

// .full-width no needed in mobile:
@media only screen and (min-width: $container-width)
	.full-width
		width: 100vw
		position: relative
		left: 50%
		right: 50%
		margin-left: -50vw !important
		margin-right: -50vw !important

@media #{$small-and-down}
	.page-module
		padding-top: 20px
		padding-bottom: 20px
