.page-module
	padding: $page-module-padding

.componente
	// no quiero ponerle esto a todos los componentes
	// agregado con js:
	// position: relative 
	margin: $components-margin
	display: block
	box-sizing: border-box

	.cover-all
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		z-index: 125
		display: flex
		align-items: center
		justify-content: center
		transition: 300ms all
		text-decoration: none

	&.full-width .container
		max-width: $container-width
		// max-width: calc(1280px - ($components-margin * 2))

// siguiente configuración
// falla cuando se le quitan
// los margenes right y left 
// al componente:
// .componente
// 	margin: 15px 30px
// 	display: inline-block
// 	width: calc(100% - 60px)
// 	box-sizing: border-box

.full-width
	width: 100vw
	position: relative
	left: 50%
	right: 50%
	margin-left: -50vw !important
	margin-right: -50vw !important

.add-padding
	padding: 20px

.has-video-background
	overflow: hidden
	position: relative
	background-color: #000
	background-image: url() !important
	video, iframe
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1
		min-height: 100%
	iframe
		width: 100%
	&>*
		position: relative
		z-index: 56

[data-animation]
	animation-duration: 1s
	animation-fill-mode: both

.overflow-auto
	overflow: auto

@media #{$medium-and-down}
	.componente
		margin: 15px 15px

	.has-video-background
		video
			height: 100%
			width: auto
