.menu-button
	background-color: var(--primary-color)
	padding: 0
	height: 70px
	width: 70px
	display: inline-block
	position: relative 
	text-align: center
	letter-spacing: 1px
	color: #fff
	border-radius: 0 0 0 23px
	line-height: 180%
	img
		margin-top: 8px
	&:hover
		color: #fff


@media #{$small-and-down}
	.menu-button
		margin-right: -20px