.v23-togglebox
    --ui-color-1: var(--primary-color)
    --ui-color-2: var(--primary-color-lighten-1)
    --ui-color-3: var(--primary-color-lighten-2)
    &__item
        &:not(.active)
            display: none
    &__btn
        img,span
            pointer-events: none