.carrusel
    position: relative
    @extend .tns-slider-theme

    &__item--image
        text-align: center
        position: relative
        display: inline-flex !important
        align-items: center
        justify-content: center
        img
            margin-bottom: 0 !important
        &__link
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0

@media #{$medium-and-down}
    .carrusel .tns-controls
        button[data-controls="prev"],
        button[data-controls="next"]
            transform: scale(.8)
        button[data-controls="prev"]
            left: -20px
        button[data-controls="next"]
            right: -20px
