// .columnas

.columnas-1
	display: grid

.columnas-2,
.columnas-3,
.columnas-4
	display: flex
	flex-wrap: wrap
	justify-content: space-between


// DESKTOP
@media #{$large-and-up}
	.columnas.layout4
		div[class^='componente'],
		div[class^='columnas-internas']
			position: relative
			z-index: 56
		&>div>div[class^='columnas'] > div
			position: relative
			.extended-bg-first,
			.extended-bg-last
				position: absolute
				top: 0
				height: 100%
				pointer-events: none
			.extended-bg-first
				left: calc( (1280px - 100vw) / 2 )
				right: 0
			.extended-bg-last
				right: calc( (1280px - 100vw) / 2 )
				left: 0

// TABLET Y DESKTOP
@media only screen and (min-width: $medium-screen)
	.columnas-2,
	.columnas-3,
	.columnas-4
		&>div
			&.alignment-center
				display: flex
				align-content: center
				flex-wrap: wrap
				&>div[class*="componente"]
					width: 100%
			&.alignment-flex-end
				display: flex
				flex-wrap: wrap
				align-items: flex-end
				&>div[class*="componente"]
					width: 100%
			&.alignment-space-between
				display: flex
				flex-wrap: wrap
				align-content: space-between
				&>div[class*="componente"]
					width: 100%

	.columnas-2>div
		width: 50%
	.columnas-3>div
		width: 33.33%
	.columnas-4>div
		width: 25%

	.columnas-2de3-1de3,
	.columnas-1de3-2de3,
	.columnas-1de4-3de4,
	.columnas-3de4-1de4,
	.columnas-1de4-2de4-1de4,
	.columnas-1de2-1de4-1de4,
	.columnas-1de4-1de4-1de2
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	.columnas-2de3-1de3
		&>div:nth-child(odd)
			width: 66.66%
		&>div:nth-child(even)
			width: 33.33%
	
	.columnas-1de3-2de3
		&>div:nth-child(odd)
			width: 33.33%
		&>div:nth-child(even)
			width: 66.66%
	
	.columnas-1de4-3de4
		&>div:nth-child(odd)
			width: 25%
		&>div:nth-child(even)
			width: 75%
	
	.columnas-3de4-1de4
		&>div:nth-child(odd)
			width: 75%
		&>div:nth-child(even)
			width: 25%
	
	.columnas-1de4-2de4-1de4
		&>div:nth-child(1)
			width: 25%
		&>div:nth-child(2)
			width: 50%
		&>div:nth-child(3)
			width: 25%

	.columnas-1de2-1de4-1de4
		&>div:nth-child(1)
			width: 50%
		&>div:nth-child(2)
			width: 25%
		&>div:nth-child(3)
			width: 25%

	.columnas-1de4-1de4-1de2
		&>div:nth-child(1)
			width: 25%
		&>div:nth-child(2)
			width: 25%
		&>div:nth-child(3)
			width: 50%

    

// TABLET Y MOBILE
@media #{$medium-and-down}
	.columnas-2,
	.columnas-3,
	.columnas-4
		&>div
			width: 100%


// TABLET
@media #{$medium-only}
	.tablet-order-1
		order: 1
	.tablet-order-2
		order: 2
	.tablet-order-3
		order: 3
	.tablet-order-4
		order: 4

	.tablet-1de2-1de2,
	.tablet-2de3-1de3,
	.tablet-1de3-2de3,
	.tablet-1de4-3de4,
	.tablet-3de4-1de4,
	.tablet-1-1de2-1de2,
	.tablet-1de2-1de2-1,
	.tablet-1de2-1-1de2,
	// .tablet-1de4-2de4-1de4
	.tablet-1de3-1de3-1de3
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	.tablet-1de2-1de2
		&>div
			width: 50% !important

	.tablet-2de3-1de3
		&>div:nth-child(odd)
			width: 66.66% !important
		&>div:nth-child(even)
			width: 33.33% !important
	
	.tablet-1de3-2de3
		&>div:nth-child(odd)
			width: 33.33% !important
		&>div:nth-child(even)
			width: 66.66% !important
	
	.tablet-1de4-3de4
		&>div:nth-child(odd)
			width: 25% !important
		&>div:nth-child(even)
			width: 75% !important
	
	.tablet-3de4-1de4
		&>div:nth-child(odd)
			width: 75% !important
		&>div:nth-child(even)
			width: 25% !important

	.tablet-1de3-1de3-1de3
		&>div:nth-child(1),
		&>div:nth-child(2),
		&>div:nth-child(3)
			width: 33.33% !important

	.tablet-1de2-1de2-1de2-1de2
		&>div
			width: 50% !important
	
	// .tablet-1de4-2de4-1de4
	// 	&>div:nth-child(1)
	// 		width: 25% !important
	// 	&>div:nth-child(2)
	// 		width: 50% !important
	// 	&>div:nth-child(3)
	// 		width: 25% !important

	.tablet-1-1de2-1de2
		&>div:nth-child(1)
			width: 100% !important
		&>div:nth-child(2),
		&>div:nth-child(3)
			width: 50% !important

	.tablet-1de2-1de2-1
		&>div:nth-child(1),
		&>div:nth-child(2)
			width: 50% !important
		&>div:nth-child(3)
			width: 100% !important

	.tablet-1de2-1-1de2
		&>div:nth-child(1),
		&>div:nth-child(3)
			width: 50% !important
		&>div:nth-child(2)
			width: 100% !important


// MOBILE
@media #{$small-and-down}
	.mobile-order-1
		order: 1
	.mobile-order-2
		order: 2
	.mobile-order-3
		order: 3
	.mobile-order-4
		order: 4

	.mobile-1de2-1de2,
	.mobile-2de3-1de3,
	.mobile-1de3-2de3,
	.mobile-1de4-3de4,
	.mobile-3de4-1de4,
	.mobile-1de3-1de3-1de3
		display: flex
		flex-wrap: wrap
		justify-content: space-between


	.mobile-1de2-1de2
		&>div
			width: 50% !important

	.mobile-2de3-1de3
		&>div:nth-child(odd)
			width: 66.66% !important
		&>div:nth-child(even)
			width: 33.33% !important
	
	.mobile-1de3-2de3
		&>div:nth-child(odd)
			width: 33.33% !important
		&>div:nth-child(even)
			width: 66.66% !important
	
	.mobile-1de4-3de4
		&>div:nth-child(odd)
			width: 25% !important
		&>div:nth-child(even)
			width: 75% !important
	
	.mobile-3de4-1de4
		&>div:nth-child(odd)
			width: 75% !important
		&>div:nth-child(even)
			width: 25% !important
	
	.mobile-1de3-1de3-1de3
		&>div:nth-child(1),
		&>div:nth-child(2),
		&>div:nth-child(3)
			width: 33.33% !important

	.mobile-1de2-1de2-1de2-1de2
		&>div
			width: 50% !important

	// .mobile-1de4-2de4-1de4
	// 	&>div:nth-child(1)
	// 		width: 25% !important
	// 	&>div:nth-child(2)
	// 		width: 50% !important
	// 	&>div:nth-child(3)
	// 		width: 25% !important

	// .mobile-1-1de2-1de2
	// 	&>div:nth-child(1)
	// 		width: 100% !important
	// 	&>div:nth-child(2),
	// 	&>div:nth-child(3)
	// 		width: 50% !important

	// .mobile-1de2-1de2-1
	// 	&>div:nth-child(1),
	// 	&>div:nth-child(2)
	// 		width: 50% !important
	// 	&>div:nth-child(3)
	// 		width: 100% !important

	// .mobile-1de2-1-1de2
	// 	&>div:nth-child(1),
	// 	&>div:nth-child(3)
	// 		width: 50% !important
	// 	&>div:nth-child(2)
	// 		width: 100% !important