.columnas-simples{
	&>div{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		flex-grow: 1;
	}

	@media #{$medium-and-up} {
		$i: 5;
		$nth-cols : 12;
		@while $i <= $nth-cols {
			$perc: unquote(calc(100 / calc($nth-cols / $i)) + "%");
			.width-#{$i}{
				width: #{$perc};
			}
			$i: $i + 1;
		}
	}
	@media only screen and (min-width: 768px) {
		$i: 1;
		$nth-cols : 12;
		@while $i <= 4 {
			$perc: unquote(calc(100 / calc($nth-cols / $i)) + "%");
			.width-#{$i}{
				width: #{$perc};
			}
			$i: $i + 1;
		}
	}
} 