.editor-de-texto
	ul
		padding-left: 33px
	ol
		counter-reset: theme-counter
	li
		list-style-type: none
		&:before
			display: inline-block
			margin-right: 11px
			margin-bottom: -4px
			width: 12px
			height: 18px
			margin-left: -25px
	ol li
		counter-increment: theme-counter
		&:before
			content: counter(theme-counter) "."
			font-weight: bold
	ul li
		list-style-type: none
		&:before
			content: "\f28e"
			font-family: FontAwesome
			font-size: 12px
	li[role="presentation"]:before
		display: none

.editor-de-texto ul.slick-dots li:before
	display: none
.text-color-2
	.slick-dots li.slick-active button:before
		color: #fff

p + .pdf-responsive
	margin-bottom: 30px	