.posts-listing--portfolio1
    .post-card
        position: static !important
    
.expander
    width: 100%
    position: absolute
    left: 0
    top: auto
    padding: 30px

    &-inner
        position: relative
        padding: 30px 0

    &-response
        overflow: auto
        min-height: 380px
        @extend .scroll

    &-close
        position: absolute
        width: 23px
        height: 23px
        top: 25px
        right: 30px
        cursor: pointer

        &::before,
        &::after
            content: ''
            position: absolute
            width: 100%
            top: 50%
            left: 0
            height: 1px
            background: currentColor
            -webkit-transform: rotate(45deg)
            -moz-transform: rotate(45deg)
            transform: rotate(45deg)

        &::after
            -webkit-transform: rotate(-45deg)
            -moz-transform: rotate(-45deg)
            transform: rotate(-45deg)