.progress-bar{
    &>div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
        span{
            font-size: 20px;
        }
    }
    p{
        margin-bottom: 0;
    }
    &__bg {
        height: 7px;
        background-color: #996510;
        border-radius: 8px;
        display: block;    
    }
    
    &__bar {
        height: 7px;
        border-radius: 8px;
        background-color: #ff9f00;
    }
}    

    	

.text-color-2 .progress-bar__bg{
   background-color: #D5807A;
}
.text-color-2 .progress-bar__bar{
    background-color: #fff;
}
