.whatsapp-button
	&.align-right
		text-align: right
	&.align-center
		text-align: center
	>a
		background-color: $tertiary-color
		color: #fff
		border: 0
		border-radius: 0 25px 0 25px
		padding: 18px 23px

@media #{$small-and-down}
	.whatsapp-button>a
		display: block