.postcard
    &--post-horizontal &__content-wrapper
        display: flex
        font-size: .85em

    &--post-horizontal &__image
        width: 180px !important
        padding-bottom: 180px !important
        height: 180px
        background-size: cover
        background-position: center
        display: block

    &--post-horizontal &__content
        width: calc(100% - 180px) !important
        padding-top: 0px
        padding-left: 20px
    
    &--post-horizontal &__title
        font-size: 1.3em
        margin-bottom: 5px

    &--post-horizontal &__postdata
        margin-bottom: 10px
        p:first-child
            font-size: .8em
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 1
            -webkit-box-orient: vertical
            margin-bottom: 5px
    
    &--post-horizontal &__tags
        display: flex
        flex-wrap: wrap
        gap: 3px
        a
            display: inline-block
            font-size: .8em
            background-color: var(--primary-color)
            color: #fff
            padding: 0 8px
            &:hover
                text-decoration: none
    
    &--post-horizontal &__link
        text-align: right

@media #{$small-and-down}
    .postcard
        &--post-horizontal &__content-wrapper
            flex-wrap: wrap
        &--post-horizontal &__image
            width: 100% !important
            padding-bottom: 80px !important
            height: 80px
            margin-bottom: 20px
        &--post-horizontal &__content
            width: 100% !important
            padding-left: 0