.postcard
    &--style4 &__content-wrapper
        background-color: color-mix( in srgb, var(--font-color) 3%, transparent )
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between

    &--style4 &__content
        padding: 30px
        position: relative
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 30px
    
    &--style4 &__postdata
        width: 100%
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: space-between
        gap: 50px
        font-size: .85em
        p
            margin-bottom: 0

    &--style4 &__terms
        text-transform: uppercase
        overflow: hidden
        font-weight: var(--bold-font-weight)

    &--style4 &__tags
        flex-shrink: 0
        display: flex
        flex-wrap: wrap
        gap: 3px
        position: static
        padding: 0
        z-index: 56
        a
            display: inline-block
            font-size: .9em
            background-color: color-mix( in srgb, var(--font-color) 10%, transparent )
            padding: 0 6px

    &--style4 &__title
        font-size: 1.5em
        font-weight: 300
    
    &--style4 &__footer
        display: flex
        justify-content: space-between

    &--style4 &__date
        font-weight: 300
        text-transform: capitalize

    &--style4 &__link
        text-align: right

    &--style4 &__image
        aspect-ratio: 16 / 9
        object-fit: cover
        width: 100%
        background-size: cover
        background-position: center
        display: block
        filter: brightness(0.9)

    &--style4 a
        color: var(--font-color)

    &:hover .viewer
        transform: scale(1)