.postcard
    &--style2
        font-size: var(--text-xs)

    &--style2 &__content-wrapper
        display: flex

    &--style2 &__image
        width: 180px !important
        padding-bottom: 180px !important
        height: 180px
        background-size: cover
        background-position: center
        display: block

    &--style2 &__content
        width: calc(100% - 180px) !important
        padding-top: 0px
        padding-left: 20px
    
    &--style2 &__title
        font-size: 1.3em
        margin-bottom: 5px

    &--style2 &__postdata
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 10px
        font-size: .8em
        margin-bottom: 10px
        p
            margin-bottom: 0
    
    &--style2 &__tags
        display: flex
        flex-wrap: wrap
        gap: 3px
        span
            display: inline-block
            font-size: .8em
            background-color: var(--primary-color)
            color: #fff
            padding: 0 8px
    
    &--style2 &__link
        text-align: right

@media #{$small-and-down}
    .postcard
        &--style2 &__content-wrapper
            flex-wrap: wrap
        &--style2 &__image
            width: 100% !important
            padding-bottom: 80px !important
            height: 80px
            margin-bottom: 20px
        &--style2 &__content
            width: 100% !important
            padding-left: 0