.tns-control-position
    button[data-controls="prev"]
        left: 10px
    button[data-controls="next"]
        right: 10px

    &[data-controls-position='top']
        padding-top: 60px
    &[data-controls-position='top'] .tns-controls button
        top: -50px
    &[data-controls-position='center'] .tns-controls button
        top: 0
        bottom: 0
        margin: auto
    &[data-controls-position='bottom'] .tns-controls button
        bottom: 25px
    
    // container width and up
    @media only screen and (min-width: #{$container-width + 80px})
        &[data-controls-position='center'] .tns-controls button
            &[data-controls="prev"]
                left: -20px
            &[data-controls="next"]
                right: -20px
        // fix controls position inside components:
        &.carrusel-inside-component
            button[data-controls=prev]
                left: -40px !important
            button[data-controls=next]
                right: -40px !important

    // container width and down
    @media only screen and (max-width: #{$container-width + 80px})
        &[data-controls-position='center'] .tns-controls button
            top: initial
            bottom: 25px
        &[data-controls-position='center'],
        &[data-controls-position='bottom']
            &.without-navigation .tns-outer
                padding-bottom: 80px !important
        // fix controls position inside components:
        &.carrusel-inside-component
            button[data-controls="prev"]
                left: 0px !important
            button[data-controls="next"]
                right: 0px !important
    
.tns-control-buttons
    z-index: 89

    button[data-controls="prev"],
    button[data-controls="next"]
        position: absolute
        width: 38px
        height: 38px
        line-height: 37px
        padding: 0
        background-color: var(--ui-color-3)
        color: var(--ui-color-1)
        border-radius: 50%
        display: flex
        z-index: 56
        align-items: center
        justify-content: center
        border: 0
        i
            font-size: 33px
            line-height: 38px

    button[data-controls="prev"]
        box-shadow: -4px 4px 10px var(--ui-color-2)
        i
            margin-right: 3px
    button[data-controls="next"]
        box-shadow: 4px 4px 10px var(--ui-color-2)
        i
            margin-left: 4px