.tns-control-position
    button[data-controls="prev"]
        left: 0
    button[data-controls="next"]
        right: 0

    &[data-controls-position='top']
        &.without-navigation
            padding-top: var(--controls-size) !important
        .tns-controls button
            top: 0

    &[data-controls-position='center'] .tns-controls button
        top: 0
        bottom: 0
        margin: auto
        &[data-controls="prev"]
            left: calc( calc( var(--controls-size) / 2 ) * -1  )
        &[data-controls="next"]
            right: calc( calc( var(--controls-size) / 2 ) * -1  )

    &[data-controls-position='bottom']
        &.without-navigation
            padding-bottom: var(--controls-size) !important
        .tns-controls button
            bottom: 0

    @media only screen and (max-width: #{$container-width + 80px})
        &[data-controls-position='center'] .tns-controls button
            &[data-controls="prev"]
                left: -10px
            &[data-controls="next"]
                right: -10px
    
.tns-control-buttons
    z-index: 89

    button[data-controls="prev"],
    button[data-controls="next"]
        position: absolute
        width: var(--controls-size)
        height: var(--controls-size)
        padding: 0
        background-color: var(--ui-color-3)
        color: var(--ui-color-1)
        border-radius: 50%
        display: flex
        z-index: 56
        align-items: center
        justify-content: center
        border: 0
        i
            font-size: 33px
            line-height: var(--controls-size)
        &:active
            transform: scale(.9)

    button[data-controls="prev"]
        box-shadow: -4px 4px 10px var(--ui-color-2)
        i
            margin-right: 3px
    button[data-controls="next"]
        box-shadow: 4px 4px 10px var(--ui-color-2)
        i
            margin-left: 4px