.tns-navigation
    z-index: 56
    height: var(--controls-size)
    width: fit-content
    max-width: calc( 90% - calc( var(--controls-size) * 2 ) )
    margin: auto
    display: flex
    gap: 15px
    align-items: center
    overflow: auto
    padding: 0 15px

    button
        background-color: var(--ui-color-2)
        height: 6px !important
        width: 6px !important
        border: 0
        border-radius: 50%
        outline: 0
        padding-left: 0

        &.tns-nav-active
            background-color: var(--ui-color-1)
            transform: scale(1.8)
            position: relative

            &:before
                content: ''
                position: absolute
                top: -2px
                left: -2px
                width: 10px
                height: 10px
                border: 1px solid var(--ui-color-1)
                border-radius: 50%