.tns-slider-theme
    --ui-color-1: var(--primary-color)
    --ui-color-2: var(--primary-color-lighten-1)
    --ui-color-3: #{$white}
    @extend .tns-control-position
    .tns-outer
        position: relative
    .tns-controls
        @extend .tns-control-buttons
    .tns-nav
        @extend .tns-navigation

    // fix controls position:
    &.carrusel-inside-component
        button[data-controls=prev]
            left: -40px !important
        button[data-controls=next]
            right: -40px !important
        @media #{$medium-and-down}
            .tns-controls
                button[data-controls="prev"]
                    left: -10px !important
                button[data-controls="next"]
                    right: -10px !important

.text-color-2 .tns-slider-theme
    --ui-color-1: #{$white} 
    --ui-color-3: #{$white-lighten-2} 