.togglebox
    $style: 'accordion-style3'

    &[data-style="#{$style}"] > &__items > &__btn
        padding: 1.4em 2.8em 1.4em 0
        position: relative
        display: inline-block
        width: 100%
        border-bottom: 1px solid
        transition: 200ms all
        &:hover
            background-color: var(--ui-color-3)
        &.active
            border-bottom: 0

        .togglebox__state-icon
            @extend %accordion-state-icon
            right: 0
            padding: .55em
            background-color: var(--ui-color-1)
            color: #fff
            border-radius: 50%

    &[data-style="#{$style}"] > &__items > &__btn > &__subtitle
        display: inline-block
        margin-left: .5em
        &::before
            content: '- '
    
    &[data-style="#{$style}"] > &__items > &__item
        padding: 1.8em 0