.togglebox
    $style: 'tab-style1'

    &[data-style="#{$style}"]
        border: 1px solid var(--ui-color-2)
        --icon-size: 1.7em

    &[data-style="#{$style}"] > &__nav
        display: flex
        overflow-x: auto
        overflow-y: hidden
        
    &[data-style="#{$style}"] > &__nav > &__btn
        width: 100%
        padding: 30px 15px
        border-bottom: 1px solid var(--ui-color-2)
        border-right: 1px solid var(--ui-color-2)
        transition: background-color 200ms
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .togglebox__icon
            margin-right: 0
            margin-bottom: 5px
        &:last-child
            border-right: 0
        &.active, &:hover
            background-color: var(--ui-color-3)
        &.active
            border-bottom: 3px solid var(--ui-color-1)

    &[data-style="#{$style}"] > &__nav > &__btn > &__title
        display: block
        font-weight: var(--bold-font-weight)
        white-space: nowrap

    &[data-style="#{$style}"] > &__nav > &__btn > &__subtitle
        margin-top: .5em
    
    &[data-style="#{$style}"] > &__items > &__item.active
        padding: 20px