.v23-togglebox
    $style: 'tab-style5'

    &[data-style="#{$style}"]
        display: flex
        justify-content: space-between
        gap: 2em

    &[data-style="#{$style}"] > &__nav
        width: 300px
        flex-shrink: 0

    &[data-style="#{$style}"] > &__items
        flex-grow: 1

    &[data-style="#{$style}"] > &__nav > &__btn
        display: block
        padding: 15px 15px
        border-radius: 8px
        margin-bottom: 2px
        color: inherit
        border: 1px solid transparent
        transition: 300ms all
        &.active, &:hover
            background-color: var(--ui-color-3)
            border: 1px solid var(--ui-color-2)
            color: var(--ui-color-1)

    &[data-style="#{$style}"] > &__nav > &__btn > &__title
        margin-right: .8em