.v23-togglebox
    $style: 'tab-style4'

    &[data-style="#{$style}"] > &__nav
        display: flex
        flex-wrap: wrap

    &[data-style="#{$style}"] > &__nav > &__btn
        flex-grow: 1
        margin: 0
        padding: 1em 15px
        line-height: 100%
        display: inline-flex
        gap: .8em
        align-items: center
        justify-content: center
        img, i
            margin-right: 0
        &:not(.active)
            border-top: 2px solid var(--ui-color-2)
            border-bottom: 2px solid var(--ui-color-2)
        &.active, &:hover
            border-top: 2px solid var(--ui-color-1)
            border-bottom: 2px solid var(--ui-color-1)
    
    &[data-style="#{$style}"] > &__items
        padding: 2em 1em
    
    &[data-style="#{$style}"] > &__nav > &__btn > &__subtitle
        margin-top: 0