.v23-togglebox
    $style: 'tab-style1'

    &[data-style="#{$style}"]
        --icon-size: 1.7em
        border: 1px solid var(--ui-color-2)

    &[data-style="#{$style}"] > &__nav
        display: flex
        overflow-x: auto
        overflow-y: hidden
        
    &[data-style="#{$style}"] > &__nav > &__btn
        width: 100%
        margin: 0
        padding: 30px 15px
        cursor: pointer
        border: 0
        border-bottom: 1px solid var(--ui-color-2)
        border-right: 1px solid var(--ui-color-2)
        transition: background-color 200ms
        line-height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        img
            display: block
            margin: 0 auto 5px auto
        i
            display: block
            margin-bottom: 5px
        img,i
            margin-right: 0
        &:last-child
            border-right: 0
        &.active, &:hover
            background-color: var(--ui-color-3)
        &.active
            border-bottom: 3px solid var(--ui-color-1)

    &[data-style="#{$style}"] > &__nav > &__btn > &__title
        display: block
        font-weight: var(--bold-font-weight)
        white-space: nowrap

    &[data-style="#{$style}"] > &__nav > &__btn > &__subtitle
        margin-top: .5em

    &[data-style="#{$style}"] > &__items
        padding: 20px