.listing
    .load_more_posts i
        margin-right: 8px
        display: inline-block

    .listing-filter__error-msg
        grid-column: 1 / -1 // force element to take full width of the row

    &[data-status="loading"] 
        position: relative
        opacity: 0.75
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: transparent url('../images/loading2.gif') center no-repeat
            background-size: 20px 20px
            z-index: 89
        .load_more_posts i
            animation: rotating1 1.2s linear infinite

.post-modal,
.expander
    .full-width 
        width: initial !important
        position: initial !important
        left: initial !important
        right: initial !important
        margin-left: initial !important
        margin-right: initial !important
    
.postcard[data-action="none"] a
    cursor: default

@keyframes rotating1
    from
        -webkit-transform: rotate(0deg)
    to
        -webkit-transform: rotate(360deg)

@media only screen and (min-width: #{$menu-breakpoint})
    .sticky-posts-filter .posts-filter
        background-color: #fff
        position: sticky
        top: var(--sticky-header-height)