#documento-modal
	width: 94%
	max-width: 1200px
	min-height: 400px
	&[data-status='loading']
		background: #fff url('assets/images/loading2.gif') center no-repeat
		background-size: 50px 50px




@media only screen and (max-width: 768px)
	#documento-modal 
		.modal-content
			padding: 0

		.componente
			padding: 15px !important