.image-modal
	background-color: transparent
	.modal-content
		padding: 0
	.modal-close
		background-color: transparent
		&:before,&:after
			background-color: #fff
	&__box
		padding-bottom: 70%
		background-repeat: no-repeat
		background-position: center
		background-size: contain