#menu-modal
	width: 94%
	max-width: 1200px
	min-height: 400px
	&[data-status='loading']
		background: #fff url('assets/images/loading2.gif') center no-repeat
		background-size: 50px 50px
	.modal-footer
		text-align: center
	.modal-content
		position: relative
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
			width: 100%
			height: 90px
			background-color: red
			background: #fff url('assets/images/mv23-img-6.jpg') center repeat-x
		&:before
			top: 0
		&:after
			bottom: 0