.togglebox[data-style="accordion-style1"]
    border: 1px solid var(--ui-color-2)
    border-radius: 5px

    & > #{$tgb}__items > #{$tgb}__btn
        padding: 1em 2.2em 1em 1.2em
        position: relative
        display: inline-block
        width: 100%
        border-bottom: 1px solid var(--ui-color-2)
        transition: 200ms all
        &.active,
        &:hover
            background-color: var(--ui-color-3)

        #{$tgb}__state-icon
            @extend %accordion-state-icon
        
    & > #{$tgb}__items > #{$tgb}__btn > #{$tgb}__title
        font-weight: var(--bold-font-weight)

    & > #{$tgb}__items > #{$tgb}__btn > #{$tgb}__subtitle
        display: inline-block
        margin-left: .5em
        &::before
            content: '- '
    
    & > #{$tgb}__items > #{$tgb}__item
        padding: 1.2em